body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #f2f2f2;
}

.app {
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

/* ===== Portfolio ===== */
.portfolio.light {
  background: #f2f2f2;
}

.portfolio.dark {
  background: #1c1c1c;
  color: white;
}

.theme-btn {
  margin-bottom: 10px;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.portfolio.dark .card {
  background: #2a2a2a;
}

.avatar {
  border-radius: 50%;
}

.role {
  color: gray;
  font-size: 14px;
}

.bio {
  font-size: 14px;
  margin: 10px 0;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skill {
  background: #e5e5e5;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.contact {
  background: #2563eb;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
}

/* ===== Movie Explorer ===== */
.movie-section {
  margin-top: 30px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.movie-card {
  background: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.favourites {
  font-size: 14px;
  color: gray;
}
.favourites span{
  margin: 10px;
}

.empty {
  color: gray;
  margin-top: 10px;
}
